{% include "header.html" %}


<div class="container-fluid main-page">

  <div class="container w-75 intro">
    <main class="px-3">
      <h1 class="intro-header">Welcome to The Legislative Library</h1>
      <p class="lead intro-body">We created this website to make it easier to read and understand legislation.
        On this site, you'll find actual legislation as well as simplified summaries in plain language for each
        section.
        We hope you find this site helpful and easy to use!</p>
      <div class="dropdown pb-4">
        <button type="button" class="btn btn-lg btn-outline-light dropdown-toggle fw-bold about-button"
          data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
          Learn More:
        </button>
        <div class="dropdown-menu p-4 about-us" style="max-width: 1400px;">
          <p class="about-us">We created this website to make it easier to read and understand legislation. 
            In order to understand things better it sometimes helps to read a summary. So, we have added a 
            plain language summary to each section. We hope that this will help you be able to more easily and 
            quickly digest the information and have a good start for communicating it to others. All you have 
            to do is click on the legislation button, select the legislation you are looking for, and you will 
            be directed to the page with the piece of legislation you selected. <br><br><b>Please note: the summary is not 
            meant to replace the law; the laws must always take precedence.</b></p>
        </div>
      </div>
      <!-- <p class="lead">
                <a href="#" class="btn btn-secondary fw-bold">Learn more</a>
            </p> -->
    </main>
  </div>
</div>


{% include "footer.html" %}